body {
  margin: 0;
  font-family: "Syne", sans-serif;
  background: #fdfcfc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a3a3a;
  color: white;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
}

nav a:hover {
  background: #555;
}

.menuinterativo {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  color: rgb(184, 180, 180);
  cursor: pointer;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background: #3a3a3a;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px;
}

.mobile-nav a {
  color: white;
  padding: 8px;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  background: rgb(214, 213, 213);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background: #3a3a3a;
  color: white;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  .menuinterativo {
    display: block;
  }
}
.sobre-imagens {
  display: flex; 
  gap: 10px; 
  flex-wrap: wrap; 
  margin-top: 10px;
}

.sobre-imagens img {
  width: 32%;
  height: auto; 
  border-radius: 6px;  
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
.logo img{
    height: 60px;  
  width: auto;
}